<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>National Air Quality Index</title>    

    <!-- Bootstrap -->
    <!--  <link href='/assets/stylesheets/bootstrap.min.css' rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css"  href="/scripts/xtern/bootstrap-3.3.4/css/bootstrap.min.css" />
    
    <!--link href="/assets/stylesheets/bootstrap-theme.min.css" rel="stylesheet"-->
    
   <!--  <link href="/assets/stylesheets/theme.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css"  href="/stylesheets/theme_naqi.css" />
    
    <!-- <link href="/assets/stylesheets/bootstrap-select.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css"  href="/scripts/xtern/bootstrap-3.3.4/css/bootstrap-theme.min.css" />
    
    
    <!--link href="/assets/stylesheets/bootstrap-sortable.css" rel="stylesheet"-->    
    <!-- <link href="/assets/stylesheets/bootstrap-datepicker3.standalone.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css"  href="/scripts/xtern/bootstrap-datepicker-1.4.0/css/bootstrap-datepicker3.standalone.min.css" />    
    
    
    <!-- <link href="/assets/stylesheets/main.css" rel="stylesheet">   -->    
     <link rel="stylesheet" type="text/css"  href="/stylesheets/main.css " />           
    <!-- Google Maps CSS -->
    <!-- <link href="/assets/stylesheets/map.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css"  href="/stylesheets/map.css " />            
       

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
  </head>
  <body data-spy="scroll" data-target="#navbar-id" class="loading">
    <div class="overlay">
      <div class="loader">
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-x col-md-12">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">National Air Quality Index</a>
        </div>
        <div id="navbar-id" class="navbar-collapse collapse pull-right">
          <ul class="nav navbar-nav">
            <li class=""><a href="http://www.indiaspend.com" target="_blank" class="owner"><img src="/images/IndiaSpend_logo.jpg" class="emblem" /></a></li> 
         <!--    <li class=""><a href="" target="_blank" class="owner">--<br/>India Spend</a></li> -->
            <li class="hide"><a href="#aqi-description">Color Codes</a></li>
            <li class="hide"><a href="#city-rankings">City Rankings</a></li>
            <li class="hide"><a href="#city-comparison">Compare Cities</a></li>
            <!-- <li class=""><a href="#data-availability">Data Availability</a></li> -->                                    
            <li class="hide"><a href="#credits">Credits</a></li>            
          </ul>
        </div><!--/.nav-collapse --> 
      </div>
    </div>
    <div  class="container-x row-x col-md-12">
      <div id="station-aqi" class="container-x">
        <!--h2 class="text-center">Station AQI</h2-->
        <div class="row">
          <div class="col-md-3 form-group nullable">
            <div class="input-group">
              <div class="input-group-addon">State</div>
              <select id="states" class="form-control selectpicker" data-width="30%" data-live-search="true"  title="Select State..." >
              </select>              
            </div>
          </div>
          <div class="col-md-3 form-group">
            <div class="input-group">
              <div class="input-group-addon">City</div>
              <select id="cities" class="form-control selectpicker" data-width="30%" data-live-search="true"  title="Select City...">
              </select>              
            </div>            
          </div>
          <div class="col-md-3 form-group">
            <div class="input-group">
              <div class="input-group-addon">Station</div>
              <select id="stations" class="form-control selectpicker" data-width="30%" data-live-search="true"  title="Select Station...">
              </select>              
            </div>                        
          </div>
          <div class="col-md-3 form-group">
            <div id="date" class="input-group date">
              <input type="text" class="form-control" required>
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-th"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="row col-md-12-x">
          <!-- Google Map canvas will be created in this div -->
          <div id="map-wrapper" class="well-x col-md-5 hidden-sm hidden-xs">
            <div id="map" class="well-x col-md-5-x"></div>
          </div>
          <div id="aqi-info-wrapper" class="col-md-7 col-sm-12 col-xs-12">
            <div class="overlay">
              <div class="loader">
                <span></span><span></span><span></span><span></span><span></span>
              </div>
            </div>                      
            <div id="aqi-info">
            </div>
          </div>
        </div>
        <hr/>     
        
        <!--              
        <div id="aqi-description" class="row col-md-12-x">
          <div class="col-md-12">
            <table class="table panel panel-default table-hover">
              <thead>
                <tr class="active">
                  <th class="col-md-1 text-center">AQI</th>
                  <th class="col-md-2 text-center">Remark</th>
                  <th class="col-md-1">Color Code</th>
                  <th class="col-md-8">Possible Health Impacts</th>                  
                </tr>
              </thead>
              <tbody class="aqi-desc-container">
              </tbody>
            </table>
          </div>
        <hr/>          
        </div>
        --> 
        
        <div id="city-rankings-wrapper" class="row hide">
          <div id="city-rankings" class="col-md-12">
          </div>
          <hr/>          
        </div>
        <!-- /City rankings container -->
        <div id="city-comparison" class="row hide">
          <h2 class="text-center">Compare Cities</h2>
          <div class="no-gutter">
            <div id="city1" class="col-md-3 name">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon">City</div>
                      <select class="form-control selectpicker allcities" data-width="30%" data-live-search="true"  title="Select City...">
                      </select>              
                    </div>            
                  </div>                
                  <div class="form-group">
                    <div  class="input-group date compare-date">
                      <input type="text" class="form-control text-center">
                      <span class="input-group-addon">
                        <i class="glyphicon glyphicon-th"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row city-info">
                </div>              
              </div>
            </div>
            <div id="city2" class="col-md-3 name">          
              <div class="panel panel-default">
                <div class="panel-body">        
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon">City</div>
                      <select class="form-control selectpicker allcities" data-width="30%" data-live-search="true"  title="Select City...">
                      </select>              
                    </div>            
                  </div>                
                  <div class="form-group">
                    <div  class="input-group date compare-date">
                      <input type="text" class="form-control text-center">
                      <span class="input-group-addon">
                        <i class="glyphicon glyphicon-th"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row city-info">
                </div>                            
              </div>
            </div>
            <div id="city3" class="col-md-3 name">          
              <div class="panel panel-default">
                <div class="panel-body">        
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon">City</div>
                      <select class="form-control allcities selectpicker" data-width="30%" data-live-search="true"  title="Select City...">
                      </select>              
                    </div>            
                  </div>                
                  <div class="form-group">
                    <div  class="input-group date compare-date">
                      <input type="text" class="form-control text-center">
                      <span class="input-group-addon">
                        <i class="glyphicon glyphicon-th"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row city-info">
                </div>                                          
              </div>
            </div>
            <div id="city4" class="col-md-3 name">          
              <div class="panel panel-default">
                <div class="panel-body">        
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon">City</div>
                      <select class="form-control allcities selectpicker" data-width="30%" data-live-search="true"  title="Select City...">
                      </select>              
                    </div>            
                  </div>                
                  <div class="form-group">
                    <div  class="input-group date compare-date">
                      <input type="text" class="form-control text-center">
                      <span class="input-group-addon">
                        <i class="glyphicon glyphicon-th"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row city-info">
                </div>                                          
              </div>
            </div>            
          </div>
        </div> <!-- /City comparison container -->
        <hr/>
        <!--div id="data-availability" class="row col-md-12-x">
          <div class="col-md-12">
            <h2 class="text-center">Data Availability</h2>
            <table class="table panel panel-default table-hover">
              <thead>
                <tr class="active">
                  <th class="col-md-3">Station</th>
                  <th class="col-md-3">City</th>                                    
                  <th class="col-md-3">From</th>
                  <th class="col-md-3">Till</th>
                </tr>
              </thead>
              <tbody class="data-availability-desc">
              </tbody>
            </table>
          </div>
        </div>
        <hr/-->
	<!-- Disclaimer -->
<!-- 
  <div class="row devbar">
    <div class="col-md-12 text-center">
      <a href="http://www.iitk.ac.in" target="_blank">      
        <img src="/assets/images/iitk-logo.png" class="logo" />
      </a>      
    </div>
  </div>
   -->
  <!-- 
  <div class="row">
    <div class="col-md-12 text-center">
      h2> Disclaimer </h2
      <div class="text-center">
        <h5>Developed by <a href="http://www.iitk.ac.in" target="_blank">IIT Kanpur</a></h5>
      </div>
    </div>	        
  </div>   
  
        -->
	<!--hr/-->
        <!-- FOOTER -->
        <!--div class="text-center">
          <h5>Supervised by <a target="_blank" href="http://www.iitk.ac.in/new/index.php/arnab-bhattacharya" class="navbar-link">Prof. Arnab Bhattacharya</a> & <a target="_blank" href="http://www.iitk.ac.in/new/index.php/mukesh-sharma" class="navbar-link">Prof. Mukesh Sharma</a></h5>
          <h5>Developed by <a target="_blank" href="http://in.linkedin.com/pub/sagar-parihar/68/b05/546" class="navbar-link">Sagar Parihar</a> & <a target="_blank" href="http://in.linkedin.com/in/swapnilsm" class="navbar-link">Swapnil Mahajan</a></h5>
          <h5>IIT Kanpur</h5>
        </div-->
        
      </div> <!-- /container -->
      
      
      
      <!-- 
      <div class="footer navbar-default navbar-fixed-bottom hide" >
        <div class="container-x">
          <div class="col-md-5">
            <p class="navbar-text navbar-left">Supervised by Prof. Arnab Bhattacharya & Prof. Mukesh Sharma</p>            
          </div>
          <div class="col-md-2">
            <p class="navbar-text">IIT Kanpur</p>                  
          </div>
          <div class="col-md-5">
            <p class="navbar-text navbar-right">Developed by <a target="_blank" href="http://in.linkedin.com/pub/sagar-parihar/68/b05/546" class="navbar-link">Sagar Parihar</a> & <a target="_blank" href="http://in.linkedin.com/in/swapnilsm" class="navbar-link">Swapnil Mahajan</a></p>            
          </div>
        </div>
      </div>
       -->
      
    </div> <!-- /container -->    
    <!-- Templates to be used to create elements -->
    <div style="display: none" class="panel panel-default panel-template aqi-panel">
      <!-- <div class="panel-heading"> -->
      <!--   <h3 class="panel-title">Station, City, State</h3> -->
      <!-- </div> -->
      <div id="data-available-panel" class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <div class="aqi-meter-panel"> 
              <div id="aqi-meter" class="aqi-meter" style="height:150px">
              </div>
              <div class="insuf-data-panel well"> 
                Insufficient data for computing AQI
              </div>
            </div>                                  
          </div>                                          
          <div class="col-md-8">
            <table class="table table-condensed">
              <tr class="active">
                <td class="title">
                </td>
              </tr>
              <tr>
                <td>Prominent Pollutant is <big><span class="prominent-param label label-default"></span></big></td>
              </tr>
              <tr>
                <td>On <big><span class="date-on label label-info"></span></big></td>                              
              </tr>
            </table>
          </div>
        </div>
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th class="col-md-1 col-sm-1 col-xs-1">Pollutant</th>
              <th class="col-md-8 col-sm-8 col-xs-8 text-center">Timeline</th>
              <th class="col-md-1 col-sm-1 col-xs-1" title="Average">Avg</th>                                                
              <th class="col-md-1 col-sm-1 col-xs-1" title="Minimum">Min</th>
              <th class="col-md-1 col-sm-1 col-xs-1" title="Maximum">Max</th>
            </tr>
          </thead>
          <tbody class="metrics-container"></tbody>
        </table>
      </div>
      <div id="no-data-panel" class="panel-body text-center">
        <h1> No Data Available </h1>
      </div>
      <div id="no-response-panel" class="panel-body text-center">
        <h1> Network Error </h1> <h3> No response from server. </h3>
      </div>
    </div>
    <!-- Graphs Row Template -->
    <table class="row" style="display:none">
      <tr class="metrics-row metrics-row-template" style="display:none">
        <td class="element-name">Name</td>
        <td class="graph-container">Graph</td>
        <td class="avg-value">Avg</td>
        <td class="min-value">Min</td>          
        <td class="max-value">Max</td>     
      </tr>
    </table>
    <!-- Aqi Description Row Template-->
    <table class="row" style="display:none">
      <tr class="aqi-desc-row-template" style="display:none">
        <td class="col-md-1 aqi-value text-center text-middle"></td>
        <td class="col-md-2 remark text-center text-middle"></td>
        <td class="col-md-1 color-code"></td>          
        <td class="col-md-8 desc"></td>     
      </tr>
    </table>
    <!-- Rankings Template -->
    <div class="rankings-template" style="display:none">
      <h2 class="title text-center"></h2>
      <table class="table panel panel-default sortable table-hover table-striped">
        <thead>
          <tr class="active">
            <th class="col-md-2 text-center">Rank</th>
            <th class="col-md-3">City</th>
            <th class="col-md-3">State</th>  
            <th class="col-md-3 text-center">Remark</th>
            <th class="col-md-1 text-center">AQI</th>
          </tr>
        </thead>
        <tbody class="rankings-container"></tbody>
      </table>
    </div>
    <!-- Rankings Row Template -->
    <table class="row" style="display:none">
      <tr class="rankings-row rankings-row-template" style="display:none">
        <td class="col-md-2 text-center rank"></td>
        <td class="col-md-3 city"></td>
        <td class="col-md-3 state"></td>
        <td class="col-md-3 text-center remark"></td>          
        <td class="col-md-1 text-center value"></td>     
      </tr>
    </table>
    <!--Comparason Panel-->
    <div class="compare-template" style="display:none">
      <div class="col-md-12">
        <div class="aqi-meter" style="height:150px">
        </div>                                  
      </div>
      <div class="col-md-12">
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th class="col-md-1">Element</th>
              <th class="col-md-8 text-center">Timeline</th>
              <th class="col-md-1">Avg</th>                                                
              <th class="col-md-1">Min</th>
              <th class="col-md-1">Max</th>
            </tr>
          </thead>
          <tbody class="metrics-container"></tbody>
        </table>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <!--  <script src="/assets/javascripts/jquery.min.js"></script> -->
    <script type="text/javascript"	src="/scripts/xtern/jquery-2.1.3.min.js"></script>
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
   <!-- <script src="/assets/javascripts/eventemitter2.js"></script> -->
    <script type="text/javascript"	src="/scripts/naqi/eventemitter2.js"></script>
    
    <!-- <script src="/assets/javascripts/underscore.min.js"></script> -->
    <script type="text/javascript"	src="/scripts/xtern/underscore-min.js"></script>
    
    
    <!-- <script src="/assets/javascripts/prefixfree.min.js"></script> -->  
    <script type="text/javascript"	src="/scripts/xtern/prefixfree.min.js"></script>   
    
      
    <!-- Google Maps Scripts -->
    <!-- <script src="//maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyAytmUdPFBB__7dCePh_-IF7i1BGGSxs2g"></script> -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    

    <!-- JustGage Scripts -->
    <!--   <script src="/assets/javascripts/raphael.2.1.2.min.js"></script>  -->        
    <script type="text/javascript"	src="/scripts/xtern/justgauge/raphael.2.1.0.min.js"></script>   
    
   <!--  <script src="/assets/javascripts/justgage.js"></script> -->
    <script type="text/javascript"	src="/scripts/xtern/justgauge/justgage.1.0.1.min.js"></script>
    
    
    <!--[if lte IE 8]><script type="text/javascript" src="/assets/javascripts/excanvas.min.js"></script><![endif]-->
    <!-- Bootstrap Scripts -->
    <!-- <script src="/assets/javascripts/bootstrap.min.js"></script> -->
    <script type="text/javascript"	src="/scripts/xtern/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    
    
    <!-- <script src="/assets/javascripts/scrollspy.js"></script> -->    
    <script type="text/javascript"	src="/scripts/naqi/scrollspy.js"></script>
    
    <!--  <script src="/assets/javascripts/bootstrap-datepicker.min.js"></script> -->
    <script type="text/javascript"	src="/scripts/xtern/bootstrap-datepicker-1.4.0/js/bootstrap-datepicker.min.js"></script>
    
    
    <!-- Bootstrap Sortable -->
    <!-- <script src="/assets/javascripts/moment.min.js"></script> -->
    <script type="text/javascript"	src="/scripts/xtern/moment/moment.min.js"></script>
      
    <!-- <script src="/assets/javascripts/bootstrap-sortable.js"></script>     --> 
    <script type="text/javascript"	src="/scripts/naqi/bootstrap-sortable.js"></script>
       
    <!--script src="/assets/javascripts/bootstrap-select.min.js"></script-->
    <!-- Application Modules -->
    <!-- <script src="/assets/javascripts/air.js"></script> -->
    <script type="text/javascript"	src="/scripts/naqi/air.js"></script>
    
  <!--   <script src="/assets/javascripts/airuimap.js"></script> -->
    <script type="text/javascript"	src="/scripts/naqi/airuimap.js"></script>
    
    <!-- <script src="/assets/javascripts/airuipanel.js"></script> -->
    <script type="text/javascript"	src="/scripts/naqi/airuipanel.js"></script>
    
    <!-- <script src="/assets/javascripts/airuicomparator.js"></script> -->
    <script type="text/javascript"	src="/scripts/naqi/airuicomparator.js"></script>
      
   <!--  <script src="/assets/javascripts/airuirankings.js"></script> -->
    <script type="text/javascript"	src="/scripts/naqi/airuirankings.js"></script>
                    
   <!--  <script src="/assets/javascripts/airui.js"></script> -->
    <script type="text/javascript"	src="/scripts/naqi/airui.js"></script>
    
   <!--  <script src="/assets/javascripts/app.js"></script> -->
    <script type="text/javascript"	src="/scripts/naqi/app.js"></script>
    
    <!-- <script src="/assets/javascripts/log.js"></script> -->
    <script type="text/javascript"	src="/scripts/naqi/log.js"></script>
     
    <!-- <script src="/assets/javascripts/quickfix.js"></script> -->
    <script type="text/javascript"	src="/scripts/naqi/quickfix.js"></script>
            
    <!-- Testing scripts -->
    <!-- Google Charts Scripts -->
    <!--script type="text/javascript" src="//www.google.com/jsapi"></script-->
    <script type="text/javascript"
            src='//www.google.com/jsapi?autoload={"modules":[{"name":"visualization","version":"1","packages":["corechart"]}]}'>
    </script>    
    <!--script type="text/javascript">
      //google.load('visualization', '1', {packages: ["corechart"]});
    </script-->    

  </body>
</html>

